venv/
__pycache__/
.vscode/
.coverage
.env
.DS_Store

# Dependencies
/node_modules/

# Build output
/dist/

# Vite cache directory
/.vite/

backend/static/index.html
backend/static/vite.svg

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
